:root {
  --color-primario: #ff9e4e;
  --negro: #444444;
  --blanco: #e2e2e2;
}

* {
  margin: 0px;
  padding: 0px;
}

body{
  overflow-y: scroll;
}

.fondo {
  background: url("../res/img/pinguino-emperador.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.contenedor {
  padding: 5vh 5vw 5vh 5vw;
  background-color: rgba(226, 226, 226, .9);
  margin: 3vh 10vw 0 10vw;
  border-radius: 5px;
}

@media screen and (max-width: 39.9375em) {

}
